@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";
@import "../../vendor/livewire/flux-pro/dist/editor.css";
/* Preline UI */
@source "../../node_modules/preline/dist/*.js";
/* Plugins */
@plugin "@tailwindcss/forms";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer components {
    .bg-secondary-cream{--tw-bg-opacity: 1;background-color:rgb(251 236 219 / var(--tw-bg-opacity))}
    .process-flow-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 500px;
        border-radius: 15px;
        overflow: hidden;
    }

    .card-item {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        padding: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }

    .card-item:not(.active) {
        width: 21%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        background-color: #7ed6ff;
        border-radius: 30px;
        margin-right: 20px;
        overflow: hidden;
    }

    .process-flow-container .card-item:nth-child(4) {
        margin-right: 0;
    }

    .card-item:not(.active) .card-header {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translate(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px 0;
    }

    .card-item:not(.active) .step-title-collapsed {
        -webkit-transform: rotate(-90deg);
        margin-left:120px;
        transform: rotate(-90deg);
        -webkit-transform-origin: center;
        transform-origin: center;
        white-space: nowrap;
        font-size: 36px;
        line-height: 46px;
        font-weight: 700;
    }

    .card-item.active {
        width: 32%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        background-color: #00aeff;
        padding: 20px;
        border-radius: 20px;
        margin-right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .card-content {
        max-height: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition:
            opacity 0.3s ease-in-out 0.2s,
            visibility 0.3s ease-in-out 0.2s;
        transition:
            opacity 0.3s ease-in-out 0.2s,
            visibility 0.3s ease-in-out 0.2s;
    }

    .card-item.active .card-content {
        opacity: 1;
        visibility: visible;
    }

    .card-item:not(.active) .step-title-expanded,
    .card-item.active .step-title-collapsed {
        display: none;
    }

    .card-item:not(.active) .step-title-expanded,
    .card-item.active .step-number {
        display: none;
    }

    .card-item:not(.active) .step-title-expanded,
    .card-item.active .step-icon {
        display: none;
    }

    .step-number {
        display: block;
        text-align: center;
    }

    .card-item.active .step-number {
        border-color: #fff;
        color: #fff;
    }

    .card-item:not(.active) .step-number {
        color: #000;
        font-size: 56px;
        line-height: 68px;
        font-weight: 700;
        margin-right:120px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: center;
        transform-origin: center;
        white-space: nowrap;
    }

    @media (max-width: 1279px) {
        .card-item.active {
            padding: 15px;
        }
        .card-item:not(.active) {
            width: 18%;
        }
    }

    @media (max-width: 1023px) {
        .card-item:not(.active) {
            width: 7%;
            margin-right: 15px;
        }
        .card-item.active {
            margin-right: 15px;
        }
        .card-item:not(.active) .step-number {
            font-size: 44px;
            line-height: 56px;
        }
        .process-flow-container {
            height: 450px;
        }
    }

    @media (max-width: 767px) {
        .card-item:not(.active) {
            width: 4%;
            margin-right: 10px;
        }
        .card-item.active {
            margin-right: 10px;
        }
        .card-item:not(.active) .step-number {
            font-size: 40px;
            line-height: 50px;
        }
        .card-item:not(.active) .step-title-collapsed {
            font-size: 30px;
            line-height: 38px;
        }
        .process-flow-container {
            height: 480px;
        }
    }

    @media (max-width: 639px) {
        .card-item.active {
            width: 100%;
            height: auto;
            -webkit-transition: height 0.6s linear;
            transition: height 0.6s linear;
            border-radius: 20px;
            margin-right: 0;
        }
        .card-item:not(.active) {
            width: 100%;
            height: 85px;
            -webkit-transition: height 0.6s linear;
            transition: height 0.6s linear;
            margin-right: 0;
        }
        .process-flow-container {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 15px;
        }
        .card-item:not(.active) .card-header {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
        }
        .card-item:not(.active) .step-number {
            -webkit-transform: rotate(0deg);
            transform: rotate(0);
            font-size: 32px;
            line-height: 38px;
        }
        .card-item:not(.active) .step-title-collapsed {
            -webkit-transform: rotate(0deg);
            transform: rotate(0);
            font-size: 26px;
            line-height: 34px;
            margin-left: -100px;
            /* white-space: normal; */
        }
    }
    .gallerySlider .swiper-wrapper .swiper-slide img {
        -webkit-filter: blur(2.5px);
        filter: blur(2.5px);
    }
    .gallerySlider .swiper-wrapper .swiper-slide.swiper-slide-active img {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    .Horizontal {
        overflow: hidden;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .Horizontal__text {
        display: flex;
        width: max-content;
        white-space: nowrap;
        gap: 4vw;
        padding-left: 100vw;
    }

    .heading-xl {
        font-size: clamp(2rem, 10vw, 12rem);
        font-weight: 600;
        line-height: 1.1;
    }

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */